{% extends 'shared/base.html' %}

      {% block content %}
    <h1>Adding a new computer</h1>


    <form action="{% url 'hrapp:computers' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="manufacturer">Manufacturer: </label>
          <input id="manufacturer" type="text" name="manufacturer">
      </fieldset>
      <fieldset>
          <label for="make">Make: </label>
          <input id="make" type="text" name="make">
      </fieldset>
      <fieldset>
          <label for="purchase_date">Purchase Date: </label>
          <input id="purchase_date" type="date" name="purchase_date">
      </fieldset>
      <fieldset>
        <label for="employee">Assign to employee: </label>
        <select id="employee" type="text" name="employee_id">
          <option value="">Select an employee</option>
              {% for employee in employees %}
                  <option value="{{ employee.id }}">{{ employee.first_name }} {{ employee.last_name }}</option>
              {% endfor %}
        </select>
    </fieldset>
      <input type="submit" value="Add It" />
    </form>
    {% endblock %}