{% extends 'shared/base.html' %}
{% load static %}

  <body>
      {% block content %}
    <h1>Computers</h1>
    <a href="{% url 'hrapp:computer_form' %}">Add a new computer</a>
    <ol>
    {% for computer in all_computers %}
        <li>
          <a href="{% url 'hrapp:computer' computer.id %}">
            {{ computer.manufacturer }} {{ computer.make }}
            is assigned to {{computer.first_name}} {{computer.last_name}}
          </li>
      </a>
        {% empty %}
        <p>No computers have been added yet</p>
    {% endfor %}
    </ol>
    {% endblock %}
  </body>
</html>