{% extends 'shared/base.html' %}

{% block content %}

<h1>Departments</h1>

<a href="{% url 'hrapp:department_form' %}">Create Department</a>

<ol>
    {% for department in all_departments %}
        <li>
            <a href="{% url 'hrapp:department' department.id %}"><h4>{{ department.dept_name }}</h4></a>
            <div>Budget: ${{ department.budget }}</div>
            <div>Employees: {{ len(department.employees) }}
                <ul>
                    {% for employee in department.employees %}
                        <li>{{ employee.first_name }} {{ employee.last_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endfor %}
</ol>

{% endblock %}