{% extends 'shared/base.html' %} {% block content %}
<section id="employee-details">
  <h1>{{ employee.first_name }} {{ employee.last_name }}</h1>

  <div>Department: {{ employee.department.name }}</div>
  {% if employee.computer.manufacturer != None and employee.computer.make != None %}
  <div>
    Current Computer: {{ employee.computer.manufacturer }} {{ employee.computer.make }}
  </div>
  {% else %}
  <div>
    No computer assigned
  </div>
  {% endif %}
  <div>Training Programs:</div>
  <ul>
    {% if employee.training_programs %}
      {% for training_program in employee.traingit ping_programs %}
        <li>{{ training_program.title }}</li>
      {% endfor %}
    {% endif %}
  </ul>
</section>

  {% if employee.computer.make is not None %}
    <form action="{% url 'hrapp:employee_edit_form' employee.id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form>
  {% endif %}

<section id="employee-actions" style="display: flex;"></section>
{% endblock %}
