{% extends 'shared/base.html' %} {% block content %}
<section id="employee-details">
  <h1>{{ employee.first_name }} {{ employee.last_name }}</h1>

  <div>Department: {{ department.dept_name }}</div>
    <h2>Computer Assigned</h2>
    {% if computer %}
      <h3> {{ computer.manufacturer }} {{ computer.make }}</h3>
    {% else %}
      <p> No computer assigned </p>
    {% endif %}

  <div>Training Programs:</div>
  {% if training_programs %}
    <ul>
      {% for training_program in training_programs %}
          <li>{{ training_program.title }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p> Not signed up for any programs </p>
  {% endif %}
</section>
{% if request.user.is_authenticated %}
<form action="{% url 'hrapp:employee_edit_form' employee.id %}" method="GET">
    {% csrf_token %}
    <button>Edit</button>
</form>
{% endif %}

<section id="employee-actions" style="display: flex;"></section>
{% endblock %}
