{% extends 'shared/base.html' %}

{% block content %}
<h1>Employees</h1>

    <a href="{% url 'hrapp:employee_form' %}">Add New Employee</a>

<ol>
{% for employee in employees %}
    {% if employee.is_supervisor == True %}
    <li>
        <a class="employee__name" href="{% url 'hrapp:employee' employee.id %}">
            {{ employee }} (Supervisor)
        </a>
    </li>
    {% else %}
    <li>
        <a class="employee__name" href="{% url 'hrapp:employee' employee.id %}">
            {{ employee }}
        </a>
    </li>
    {% endif %}
{% endfor %}
</ol>
{% endblock content %}
