{% extends 'shared/base.html' %} {% block content %}
<section id="employee-details">
  <h1>{{ employee }}</h1>

  {% if employee.department.name is not None %}
      <div>Department: {{ employee.department.name }}</div>
  {% endif %}
  {% if employee.computer.name is not None %}
      <div>Current Computer: {{ employee.computer.name }}</div>
  {% endif %}
  <div>Training Programs: </div>

  {% if employee.computer.name is not None %}
    <form action="{% url 'hrapp:employee_edit_form' employee.id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form>
  {% endif %}

</section>

<section id="employee-actions" style="display: flex;">
</section>
{% endblock %}