{% extends 'shared/base.html' %}

{% block content %}
  <section id="training-details">
    <h1>{{ training_program.title }} </h1>
    <div class="training_program__description">
      <p>Description: {{training_program.description}}</p>
      <p>Begins: {{training_program.start_date}}</p> 
      <p>Ends: {{training_program.end_date}}</p>
      <p>Capacity: {{training_program.capacity}}</p>
    </div>
  </section>
  {% if request.user.is_authenticated %}
  {% if past_event %}
      <p>Note: *events in the past cannot be edited or deleted*<p>
  {% else %}
    <section class="infoDialog" id="training-actions">
      <form action="{% url 'hrapp:training_program' training_program.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
      </form>
      <form action="{% url 'hrapp:training_program_edit_form' training_program.id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
      </form>
    </section>
  {% endif %}
  {% endif %}

  <section class="employees">
    <h2>Employees in Program:</h2>
    <ol class="employees_in_program">
      {% for employee in employees_in_program %}
        <li class="employee">
          <a href="{% url 'hrapp:employee' employee.id %}">
            {{ employee.first_name }} {{ employee.last_name }}
          </a>
        </li>
      {% endfor %}
    </ol>
  </section>

{% endblock %}