{% extends 'shared/base.html' %}

{% block content %}
    <h1>Training Program Form</h1>

    {% if training_program.id is not None %}
        <form action="{% url 'hrapp:training_programs' training_program.id %}" method="post">
    {% else %}
        <form action="{% url 'hrapp:training_programs' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <label for="title">Program Title: </label>
            <input id="title" type="text" name="title" value="{{ training_program.title }}">
        </fieldset>
        <fieldset>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description" value="{{ training_program.description }}">
        </fieldset>
        <fieldset>
            <label for="start_date">Start Day: </label>
            <input id="start_date" type="date" name="start_date" value="{{ training_program.start_date }}">
        </fieldset>
        <fieldset>
            <label for="end_date">End Day: </label>
            <input id="end_date" type="date" name="end_date" value="{{ training_program.end_date }}">
        </fieldset>
        <fieldset>
            <label for="capacity">Capacity: </label>
            <input id="capacity" type="number" name="capacity" value="{{ training_program.capacity }}">
        </fieldset>

        {% if training_program.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>
{% endblock %}