{% extends 'shared/base.html' %}

{% block content %}
    <h1>Training Program Form</h1>

    {% if training_program.id is not None %}
        {% comment %} FIXME: HERE! {% endcomment %}
        {% comment %} <form action="{% url 'hrapp:training_program' training_program.id %}" method="post"> {% endcomment %}
    {% else %}
        {% comment %} <form action="{% url 'hrapp:training_program' %}" method="post"> {% endcomment %}
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" value="{{ training_program.name }}">
        </fieldset>
        <fieldset>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description" value="{{ training_program.description }}">
        </fieldset>
        <fieldset>
            <label for="start_day">Start Day: </label>
            <input id="start_day" type="number" name="start_day" value="{{ training_program.start_day }}">
        </fieldset>
        <fieldset>
            <label for="end_day">End Day: </label>
            <input id="end_day" type="text" name="end_day" value="{{ training_program.end_day }}">
        </fieldset>
        <fieldset>
            <label for="capacity">Capacity: </label>
            <input id="capacity" type="text" name="capacity" value="{{ training_program.capacity }}">
        </fieldset>

        {% if training_program.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>
{% endblock %}