{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <h1>Training Programs</h1>

    {% comment %} <a href="{% url 'libraryapp:book_form' %}">Add Book to Inventory</a> {% endcomment %}

    <ol class="training_programs">
    {% for training_program in all_training_programs %}
        <li class="training_program">
            <a class="training_program__title" href="{% url 'hrapp:training_program' training_program.id %}">
                {{ training_program.title }}
            </a>
        </li>
    {% endfor %}
    </ol>
{% endblock %}