{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <h1>Upcoming Training Programs</h1>
    {% if request.user.is_authenticated %}
    <a href="{% url 'hrapp:training_program_form' %}">Add Training</a>
{% endif %}
    <ol class="future_training_programs">
    {% for training_program in future_training_programs %}
        <li class="training_program">
            <a class="training_program__title" href="{% url 'hrapp:training_program' training_program.id %}">
                {{ training_program.title }}
            </a>
        </li>
    {% endfor %}
    </ol>

    <h1>Past Training Programs</h1>

    <ol class="past_training_programs">
    {% for training_program in past_training_programs %}
        <li class="training_program">
            <a class="training_program__title" href="{% url 'hrapp:training_program' training_program.id %}">
                {{ training_program.title }}
            </a>
        </li>
    {% endfor %}
    </ol>
{% endblock %}